# Prediction of Car's Selling Price

### Importing required packages

In [33]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
%matplotlib inline
import math

### Reading dataset as DataFrame

In [5]:
df = pd.read_csv('carprices.csv')
df.head()

   Mileage  Age(yrs)  Sell Price($)
0    69000         6          18000
1    35000         3          34000
2    57000         5          26100
3    22500         2          40000
4    46000         4          31500

### Selection of X and Y variables

In [8]:
x = df[['Mileage','Age(yrs)']]
y = df[['Sell Price($)']]

### Training and Testing

In [9]:
from sklearn.model_selection import train_test_split

In [10]:
x_train, x_test, y_train, y_test = train_test_split(x, y, test_size=0.3)

### Importing Linear Regression Model

In [15]:
from sklearn.linear_model import LinearRegression
model = LinearRegression()
model.fit(x_train,y_train)

LinearRegression()

In [17]:
x_test

    Mileage  Age(yrs)
3     22500         2
15    25400         3
17    69000         5
7     72000         6
10    83000         7
9     67000         6

### Predicted output values

In [43]:
model.predict(x_test)

array([[39656.11231451],
       [38316.83578551],
       [22247.93197226],
       [20873.23123491],
       [16664.59382978],
       [22644.44165227]])

### Actual output values

In [20]:
y_test

    Sell Price($)
3           40000
15          35000
17          19700
7           19300
10          18700
9           22000

### Accuracy of Model

In [45]:
model.score(x_test,y_test)

0.9427646927817228